body
{
    color: #EAEAEA !important;
    background: #171717 !important;
}

a.button
{
    color: #4CB4FA !important;
    background-color: #000000 !important;
    border: 3px solid #4CB4FA !important;
}

a.button:hover
{
    color: #63FF9F !important;
    border: 3px solid #63FF9F !important;
}

#authenticateBody h1, p
{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(135deg, #46B1FF, #63ff9f);
}

#switchMode
{
    color: #666;
    background-color: #FFF;
}



.popupForm
{
    background-color: #252525;
}

input:not([type=submit])
{
	color: #7FCBFF;
    background-color: #101010;
}


input[type=submit]:disabled
{
	color: #555;
    background: #333 !important;
	transform: none !important;
}

header
{
    background: #282828;
}


footer span
{
    color: #FFF;
}

footer span.contrast
{
    color: #000;
    background-color: #69F7A8;
}




textarea
{
    color: #FFF;
    background-color: #181818;
}

.message span.messageContent
{
    color: #FFF;
}

.message:not(.me) .messageBody .messageContent
{
    background-color: #1F4880;
}

.message.me .messageBody .messageContent
{
    color: #FFF;
    background-color: #404040;
}

#newMessage textarea
{
	background-color: rgba(255,255,255,0.35);
}