body
{
    padding: 7% 12%;
    height: 100vh;
    width: 100%;
    color: #252525;
    font-family: "Avenir Next", "Arial", "Helvetica", sans-serif;
    background: #FFF;
    box-sizing: border-box;
    overflow: hidden;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 12%;
    height: 96px;
    width: 100%;
    background: linear-gradient(135deg, #46B1FF, #62E6BD);
    box-sizing: border-box;
}

header img
{
    margin: 23px 0;
    height: 50px;
    transition: all 200ms;
}

header img:hover
{
    transform: scale(1.1);
}

header nav
{
    float: right;
}

header nav ul
{
    list-style-type: none;
}

header nav ul li
{
    display: inline-block;
}

header nav ul li a
{
    display: block;
    padding: 20px 26px;
    color: #FFF;
    font-size: 12pt;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    text-transform: uppercase;
    transition: all 200ms;
}


header nav ul li a:hover
{
    transform: scale(1.1);
}


#switchMode
{
    position: fixed;
    left: 1%;
    bottom: 1.5%;
    padding: 10px 0;
    height: 52px;
    width: 52px;
    color: #BABABA;
    font-size: 9pt;
    text-align: center;
    background-color: #000;
    border-radius: 60px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.6);
    box-sizing: border-box;
    cursor: pointer;
    transition: all 200ms;
}

#switchMode:hover
{
    transform: scale(1.12);
}


footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 1%;
    width: 98%;
    text-align: right;
}

footer span
{
    display: inline-block;
    padding: 4px 8px;
    color: #000;
}

footer span.contrast
{
    background-color: #000;
    color: #69F7A8;
    border-radius: 6px;
}









#authenticateBody
{
    text-align: left;
}

h1
{
    font-size: 48pt;
    font-weight: 700;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

#authenticateBody h1
{
    margin-bottom: 0;
}

#authenticateBody p
{
    margin-bottom: 72px;
    font-size: 16pt;
    font-weight: 400;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

a.button
{
    display: inline-block;
    margin-right: 32px;
    padding: 16px 12px;
    width: 230px;
    color: #4CB4FA;
    font-size: 16pt;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: #FFF;
    border: 3px solid #FFF;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 200ms;
}

a.button.gray
{
    background-color: #EFEFEF;
    border: 3px solid #EFEFEF;
}

a.button:hover
{
    transform: scale(1.05);
}

.popupForm
{
    display: none;
    position: fixed;
    top: 100%;
    left: 0;
    padding: 7% 12%;
    height: 100vh;
    width: 100%;
    color: #4CB4FA;
    background-color: #FFF;
    box-sizing: border-box;
}

.popupForm h1
{
    margin-bottom: 52px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(135deg, #46B1FF, #63ff9f);
    font-size: 36pt;
    text-shadow: none;
}

.hidePopup
{
    position: fixed;
    top: 100%;
    right: 3%;
    color: #9A9A9A;
    font-size: 48pt;
    font-weight: 300;
}


input
{
    margin: 16px 0;
    padding: 8px 14px;
    width: 360px;
    font-family: "Avenir Next", "Arial", "Helvetica", sans-serif;
    box-sizing: border-box;
}

input:not([type=submit])
{
    color: #4CB4FA;
    font-size: 16pt;
    background-color: #F2F2F2;
    border: 0;
    border-left: 8px solid #4CB4FA;
}

input[type=submit]
{
    display: block;
    color: #FFF;
    font-size: 16pt;
    background-color: #4CB4FA;
    border: 0 !important;
    transition: all 200ms;
}

input[type=submit]:hover
{
    background-color: #269EEF;
}

input[type=submit]:disabled
{
    background-color: #BABABA !important;
}

form span.alert
{
    display: none;
    margin-left: 8px;
    padding: 10px;
    color: #f05454;
    font-size: 10pt;
    background-color: #F4F4F4;
    border-radius: 3px;
}

form span.authAlt
{
    display: block;
    margin-top: 52px;
    width: 360px;
    color: #9A9A9A;
    text-align: center;
}

form span a
{
    font-weight: 500;
    color: #4CB4FA;
}


#loginErrorMessage
{
    display: none;
    position: fixed;
    top: -1%;
    left: calc(50% - 160px);
    padding: 18px;
    width: 320px;
    color: #FFF;
    font-size: 12pt;
    font-weight: 500;
    background-color: #ff6b6b;
    border-radius: 6px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    box-sizing: border-box;
    opacity: 0;
}




/* Chat page */

#messages
{
    margin-top: 14px;
    padding-bottom: 20px;
    height: 456px;
    overflow-y: scroll;
}

.message
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.message.sameUserAsInPreviousMessage
{
    margin-top: 4px;
}


.message .messageBody
{
    position: relative;
    top: -2px;
}

.message.me .messageBody
{
    width: calc(100% - 74px);
    text-align: right;
}

.message .messageBody .messageContent
{
    display: inline-block;
    padding: 8px 10px;
    border-radius: 6px;
}

.message:not(.me) .messageBody .messageContent
{
    color: #FFF;
    background-color: #2965B5;
}

.message.me .messageBody .messageContent
{
    color: #000;
    background-color: #EFEFEF;
}

.message img.avatar
{
    margin: 0 12px;
    height: 32px;
    width: 32px;
    border: 1px solid #BABABA;
    border-radius: 32px;
    vertical-align: text-top;
}


.message.me img.avatar1
{
    display: none;
}

.message:not(.me) img.avatar2
{
    display: none;
}


.message.sameUserAsInPreviousMessage img.avatar
{
    height: 2px;
    opacity: 0;
}

.message span.username
{
    display: inline-block;
    margin-bottom: 4px;
    color: #4CB4FA;
    font-size: 10pt;
    font-weight: 600;
}

.message span.messageContent
{
    color: #252525;
    font-size: 12pt;
    font-weight: 400;
}

#newMessage
{
    position: fixed;
    left: 10%;
    bottom: 0;
    height: 90px;
    width: 80%;
    border-top: 3px solid #4CB4FA;
    box-sizing: border-box;
}

#newMessage textarea
{
    display: inline-block;
    margin: 0 1%;
    padding: 22px 2%;
    height: 87px;
    width: 78%;
    font-family: "Avenir Next", "Arial", "Helvetica", sans-serif;
    font-size: 12pt;
    border: 0;
    z-index: 100;
    resize: none;
}

#newMessage input[type=submit]
{
    display: inline-block;
    float: right;
    position: fixed;
    right: 0;
    width: 20%;
    border: 0;
    z-index: 1000;
}