body
{
    padding: 7% 12%;
    height: 100vh;
    width: 100%;
	color: #FFF;
    font-family: "Avenir Next", "Arial", "Helvetica", sans-serif;
	background: linear-gradient(140deg, #46B1FF, #63ff9f);
    box-sizing: border-box;
    overflow: hidden;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 12%;
    height: 96px;
    width: 100%;
    background: #282828;
    box-sizing: border-box;
}

header img
{
    margin: 23px 0;
    height: 50px;
    transition: all 200ms;
}

header img:hover
{
    transform: scale(1.1);
}

header nav
{
    float: right;
}

header nav ul
{
    list-style-type: none;
}

header nav ul li
{
    display: inline-block;
}

header nav ul li a
{
    display: block;
    padding: 20px 26px;
    color: #FFF;
    font-size: 12pt;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    text-transform: uppercase;
    transition: all 200ms;
}


header nav ul li a:hover
{
    transform: scale(1.1);
}


#switchMode
{
    position: fixed;
    left: 2vh;
    bottom: 2vh;
    padding: 12px 0;
    height: 54px;
    width: 54px;
    color: #BABABA;
    font-size: 9pt;
    text-align: center;
    background-color: #000;
    border-radius: 54px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 200ms;
}

#switchMode:hover
{
    transform: scale(1.12);
}


footer
{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 2vh;
    text-align: right;
}

footer span
{
    display: inline-block;
    padding: 4px 8px;
    color: #000;
}

footer span.contrast
{
    background-color: #000;
    color: #69F7A8;
    border-radius: 6px;
}









#authenticateBody
{
    text-align: left;
}

h1
{
    font-size: 48pt;
    font-weight: 700;
}

#authenticateBody h1
{
    margin-bottom: 0;
}

#authenticateBody p
{
    margin-bottom: 72px;
    font-size: 16pt;
    font-weight: 400;
}

a.button
{
    display: inline-block;
    margin-right: 36px;
	margin-bottom: 24px;
    padding: 16px 12px;
    width: 230px;
    color: #4CB4FA;
    font-size: 16pt;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: #FFF;
    border: 3px solid #FFF;
	border-radius: 6px;
    cursor: pointer;
    transition: all 200ms;
}

a.button.gray
{
    background-color: #EFEFEF;
    border: 3px solid #EFEFEF;
}

a.button:hover
{
    transform: scale(1.05);
}

.popupForm
{
    display: none;
    position: fixed;
    top: 100%;
    left: 0;
    padding: 7% 12%;
    height: 100vh;
    width: 100%;
    color: #4CB4FA;
    background-color: #FFF;
    box-sizing: border-box;
}

.popupForm h1
{
    margin-bottom: 52px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(140deg, #46B1FF, #63ff9f);
    font-size: 36pt;
    text-shadow: none;
}

.hidePopup
{
    position: fixed;
    top: 100%;
    right: 3%;
    color: #9A9A9A;
    font-size: 48pt;
    font-weight: 300;
}


input
{
    margin: 12px 0;
    padding: 8px 14px;
    width: 360px;
    font-family: "Avenir Next", "Arial", "Helvetica", sans-serif;
    box-sizing: border-box;
}

input:not([type=submit])
{
    color: #14A0FF;
    font-size: 16pt;
    background-color: #F2F2F2;
    border: 0;
    border-left: 6px solid #46B1FF;
	border-radius: 6px;
}

input[type=submit]
{
    display: block;
	margin: 12px 60px;
	width: 240px;
    color: #FFF;
    font-size: 16pt;
	background: linear-gradient(140deg, #46B1FF, #57CFD9);
    border: 0 !important;
	border-radius: 6px;
    transition: all 200ms;
}

input[type=submit]:hover
{
	transform: scale(1.05);
}

input[type=submit]:disabled
{
    background: #DDD !important;
	transform: none !important;
}

form span.alert
{
    display: none;
	position: relative;
	top: -3px;
    margin-left: 8px;
    padding: 10px;
    color: #FF4444;
    font-size: 10pt;
    background-color: #FFE8E8;
    border-radius: 4px;
}

form span.authAlt
{
    display: block;
    margin-top: 52px;
    width: 360px;
    color: #9A9A9A;
    text-align: center;
}

form span a
{
    font-weight: 500;
    color: #4CB4FA;
}


#loginErrorMessage
{
    display: none;
    position: fixed;
    top: -4%;
    left: calc(50% - 160px);
    padding: 18px;
    width: 320px;
    color: #FFF;
    font-size: 12pt;
    font-weight: 500;
    background-color: #FF5C5C;
	border-radius: 6px;
    box-sizing: border-box;
    opacity: 0;
}




/* Chat page */

#messages
{
	position: fixed;
	top: 0;
	left: 11%;
    height: calc(100vh - 154px);
	width: 78%;
	box-sizing: border-box;
	overflow-x: hidden;
    overflow-y: scroll;
}

.message
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.message.me
{
	position: relative;
	right: -16px;
}

.message.sameUserAsInPreviousMessage
{
    margin-top: 4px;
}


.message .messageBody
{
    position: relative;
    top: -2px;
}

.message.me .messageBody
{
    width: calc(100% - 74px);
    text-align: right;
}

.message .messageBody .messageContent
{
    display: inline-block;
    padding: 8px 10px;
    border-radius: 6px;
}

.message:not(.me) .messageBody .messageContent
{
    color: #FFF;
    background-color: #2171DD;
}

.message.me .messageBody .messageContent
{
    color: #000;
    background-color: #EFEFEF;
}

.message img.avatar
{
    margin: 0 12px;
    height: 32px;
    width: 32px;
    border: 1px solid #BABABA;
    border-radius: 32px;
    vertical-align: text-top;
}


.message.me img.avatar1
{
    display: none;
}

.message:not(.me) img.avatar2
{
    display: none;
}


.message.sameUserAsInPreviousMessage img.avatar
{
    height: 2px;
    opacity: 0;
}

.message span.username
{
    display: inline-block;
    margin-bottom: 4px;
    color: #FFF;
    font-size: 10pt;
    font-weight: 600;
}

.message span.timestamp
{
    display: inline-block;
    margin-bottom: 4px;
    color: #EBEBEB;
    font-size: 8pt;
    font-weight: 500;
}

.message span.messageContent
{
    color: #252525;
    font-size: 12pt;
    font-weight: 400;
}

#chatFade
{
	position: fixed;
	height: 36px;
	
}

#newMessage
{
    position: fixed;
    left: calc(11% + 58px);
    bottom: 33px;
    height: 90px;
    width: calc(78% - 116px);
    box-sizing: border-box;
}

#newMessage span.loggedInAs
{
	display: block;
	position: relative;
	top: 98px;
	left: 10px;
	height: 36px;
	width: 50%;
	color: #777;
	font-size: 10pt;
	text-align: left;
}

#newMessage span.leaveChat
{
	display: block;
	position: relative;
	top: 62px;
	left: calc(50% - 10px);
	width: 50%;
	color: #14A0FF;
	font-size: 10pt;
	text-align: right;
}

#newMessage span.loggedInAs b
{
	font-weight: 600;
}

#newMessage textarea
{
    display: inline-block;
    margin: 0;
    padding: 18px;
    height: 90px;
    width: calc(78% - 116px);
    font-family: "Avenir Next", "Arial", "Helvetica", sans-serif;
    font-size: 12pt;
	line-height: 150%;
	background-color: rgba(255,255,255,0.6);
    border: 0;
	border-radius: 6px;
    z-index: 100;
    resize: none;
}

#newMessage #submitBackground
{
    display: none !important;
    float: right;
    position: fixed;
	bottom: 33.5px;
    right: calc(11% + 58px + 18px);
	height: 56px;
    width: 56px;
	text-align: center;
	background: linear-gradient(140deg, #46B1FF, #62E6BD);
    border: 0;
	border-radius: 72px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
	box-sizing: border-box;
    z-index: 1000;
	transition: all 200ms;
}

#newMessage #submitBackground input[type=submit]
{
    display: inline-block;
	margin-left: 4px;
	height: 26px;
    width: 26px;
	background-color: transparent !important;
	background-image: url('/static/img/send_icon.png');
	background-size: contain;
	transition: all 200ms;
}

#newMessage #submitBackground:hover
{
	transform: scale(1.1);
}

#newMessage #submitBackground:hover input[type=submit]
{
	transform: scale(1.1);
}