@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

body
{
    padding: 7% 12%;
    height: 100vh;
    width: 90vw;
	color: #FFF;
    font-family: "Source Sans Pro", "Arial", "Helvetica", sans-serif;
	background: linear-gradient(140deg, #46B1FF, #63ff9f);
    box-sizing: border-box;
    overflow: hidden;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 12%;
    height: 96px;
    width: 100%;
    background: #282828;
    box-sizing: border-box;
}

header img
{
    margin: 23px 0;
    height: 50px;
    transition: all 200ms;
}

header img:hover
{
    transform: scale(1.1);
}

header nav
{
    float: right;
}

header nav ul
{
    list-style-type: none;
}

header nav ul li
{
    display: inline-block;
}

header nav ul li a
{
    display: block;
    padding: 20px 26px;
    color: #FFF;
    font-size: 12pt;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    text-transform: uppercase;
    transition: all 200ms;
}


header nav ul li a:hover
{
    transform: scale(1.1);
}







#revealChannelSelection
{
	DISPLAY: NONE !IMPORTANT;
    position: fixed;
    left: -10px;
    top: 2vh;
    color: #46B1FF;
    background-color: #FFF;
    padding: 14px 0;
	padding-left: 10px;
    height: 58px;
    width: 68px;
    font-size: 9pt;
    text-align: center;
    border-radius: 0 6px 6px 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 200ms;
}

#switchChannelMenu
{
	z-index: 1000;
}



.switchMode, .logOut
{
	DISPLAY: NONE !IMPORTANT;
    padding: 14px 6px;
	padding-left: 16px;
    height: 58px;
    width: 68px;
    font-size: 9pt;
    text-align: center;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 200ms;
}

#revealChannelSelection:hover, .switchMode:hover, .logOut:hover
{
	left: -4px !important;
    transform: scale(1.05);
}

#footerSwitchMode
{
    position: fixed;
    top: calc(6vh + 116px);
    left: -10px;
    color: #DDD;
    background-color: #333;
    border-radius: 0 6px 6px 0;
}

.logOut
{
    position: fixed;
    top: calc(8vh + 174px);
    left: -10px;
    color: #EFEFEF;
    background-color: #D43030;
    border-radius: 0 6px 6px 0;
}

#mobileChatHeader
{
	display: none;
}

footer
{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 2vh;
    text-align: right;
}

footer span
{
    display: inline-block;
    padding: 4px 8px;
    color: #000;
}

footer span.contrast
{
    background-color: #000;
    color: #69F7A8;
    border-radius: 6px;
}









#authenticateBody
{
    text-align: left;
}

h1
{
    font-size: 48pt;
    font-weight: 700;
}

#authenticateBody h1
{
    margin-bottom: 0;
}

#authenticateBody p
{
    margin-bottom: 72px;
    font-size: 16pt;
    font-weight: 400;
}

a.button
{
    display: inline-block;
    margin-right: 36px;
	margin-bottom: 24px;
    padding: 16px 12px;
    width: 230px;
    color: #55CADF;
    font-size: 16pt;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: #FFF;
    border: 3px solid #FFF;
	border-radius: 6px;
    cursor: pointer;
    transition: all 200ms;
}

a.button.gray
{
	color: #5AD3D3;
    background-color: #EFEFEF;
    border: 3px solid #EFEFEF;
}

a.button:hover
{
    transform: scale(1.05);
}

.popup
{
    display: none;
    position: fixed;
    top: 100%;
    left: 0;
    padding: 7% 12%;
    height: 100vh;
    width: 100%;
    color: #4CB4FA;
    background-color: #FFF;
    box-sizing: border-box;
	z-index: 10000;
}

.popup h1
{
    margin-bottom: 52px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(140deg, #46B1FF, #63ff9f);
    font-size: 36pt;
    text-shadow: none;
}

.hidePopup
{
    position: fixed;
    top: 100%;
    right: 3%;
    color: #9A9A9A;
    font-size: 48pt;
    font-weight: 300;
	cursor: pointer;
	z-index: 100000;
}

.hidePopup:hover
{
	color: #666;
}


input
{
    margin: 12px 0;
    padding: 8px 14px;
    width: 360px;
    font-family: "Source Sans Pro", "Arial", "Helvetica", sans-serif;
    box-sizing: border-box;
}

input:not([type=submit])
{
    color: #14A0FF;
    font-size: 16pt;
    background-color: #F2F2F2;
    border: 0;
    border-left: 6px solid #46B1FF;
	border-radius: 6px;
}

input[type=submit]
{
    display: block;
	margin: 12px 60px;
	width: 240px;
    color: #FFF;
    font-size: 16pt;
	background: linear-gradient(140deg, #46B1FF, #57CFD9);
    border: 0 !important;
	border-radius: 6px;
    transition: all 200ms;
}

input[type=submit]:hover
{
	transform: scale(1.05);
}

input[type=submit]:disabled
{
    background: #DDD !important;
	transform: none !important;
}

form span.alert
{
    display: none;
	position: relative;
	top: -3px;
    margin-left: 8px;
    padding: 10px;
    color: #FF4444;
    font-size: 10pt;
    background-color: #FFE8E8;
    border-radius: 4px;
}

form span.authAlt
{
    display: block;
    margin-top: 52px;
    width: 360px;
    color: #9A9A9A;
    text-align: center;
}

form span a
{
    font-weight: 500;
    color: #4CB4FA;
}


#loginErrorMessage, #fancyAlert
{
    display: none;
    position: fixed;
    top: -4%;
    left: calc(50% - 160px);
    padding: 18px;
    width: 320px;
    color: #FFF;
    font-size: 12pt;
    font-weight: 500;
    background-color: #FF5C5C;
	border-radius: 6px;
    box-sizing: border-box;
    opacity: 0;
}




/* Chat page */

#sidebar
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	padding: 26px;
	height: 100vh;
	width: 18%;
	background-color: #333;
	box-sizing: border-box;
}

#sidebar h3
{
	display: inline-block;
	margin: 12px 0;
	padding: 10px;
    color: #333;
	font-size: 14pt;
    background: linear-gradient(140deg, #46B1FF, #63ff9f);
	border-radius: 4px;
}

#sidebar p.description
{
	color: #FFF;
	font-size: 11pt;
}


.sidebarButton
{
	display: block;
	margin-bottom: 14px;
	padding: 8px;
	width: 100%;
	text-align: center;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 200ms;
}
r
.sidebarButton:hover
{
	transform: scale(1.05);
}

#onlineOnChannel
{
	color: #FFF;
	background-color: #3ED133;
	transform: none;
}

#inviteToChannel
{
	color: #0094ff;
	background-color: #EAEAEA;
}

#findChannels
{
	color: #FFF;
	background-color: #46B1FF;
}

#receivedInvite
{
	display: block;
	padding: 12px;
	width: 360px;
	background-color: #EFEFEF;
	border-radius: 4px;
	box-sizing: border-box;
}

#receivedInviteChannelName
{
	padding: 4px;
	font-weight: 600;
}

#acceptInvite, #rejectInvite
{
	display: inline-block;
	float: right;
	position: relative;
	top: -4px;
	margin-left: 6px;
	padding: 7px 8px;
	color: #FFF;
	font-size: 9pt;
	text-transform: uppercase;
	border-radius: 4px;
}

#acceptInvite
{
	background-color: #00BC2B;
}

#rejectInvite
{
	background-color: #BC0000;
}


#switchMode
{
	color: #EFEFEF;
	background-color: #666;
}

#tos
{
	color: #FFF;
	background-color: #FF9D00;
}

#tosPopup p
{
	color: #252525;
	line-height: 150%;
}

#logOut
{
	color: #FFF;
	background-color: #CB3030;
}


#session
{
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 84px;
	width: 18%;
	background-color: #505050;
	box-sizing: border-box;
}

#session .avatar
{
	display: block;
	position: fixed;
	left: 26px;
	bottom: 26px;
	height: 32px;
	width: 32px;
	border-radius: 32px;
}

#session .username
{
	display: block;
	position: fixed;
	left: 58px;
	bottom: 26px;
	padding: 5px 15px;
	font-weight: 600;
}

#messages
{
	position: fixed;
	top: 0;
	left: 24%;
    height: calc(100vh - 154px);
	width: 70%;
	box-sizing: border-box;
	overflow-x: hidden;
    overflow-y: scroll;
}

.message
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.message.me
{
	position: relative;
	right: -16px;
}

.message.sameAuthorAsPreviousMessage
{
    margin-top: 4px;
}


.message .messageBody
{
    position: relative;
    top: -2px;
}

.message.me .messageBody
{
    width: calc(100% - 74px);
    text-align: right;
}

.message .messageBody .messageContent
{
    display: inline-block;
    padding: 8px 10px;
    border-radius: 6px;
}

.message:not(.me) .messageBody .messageContent
{
    color: #FFF;
    background-color: #2171DD;
}

.message.me .messageBody .messageContent
{
    color: #000;
    background-color: #EFEFEF;
}

.message img.avatar
{
    margin: 0 12px;
    height: 32px;
    width: 32px;
    border: 1px solid #BABABA;
    border-radius: 32px;
    vertical-align: text-top;
}


.message.me img.avatar1
{
    display: none;
}

.message:not(.me) img.avatar2
{
    display: none;
}


.message.sameAuthorAsPreviousMessage img.avatar
{
    height: 2px;
    opacity: 0;
}

.message.sameAuthorAsPreviousMessage div.messageData
{
    display: none;
}


.message span.username
{
    display: inline-block;
    margin-bottom: 4px;
    color: #FFF;
    font-size: 10pt;
    font-weight: 600;
}

.message span.timestamp
{
    display: inline-block;
    margin-bottom: 4px;
    color: #EBEBEB;
    font-size: 8pt;
    font-weight: 500;
}

.message span.messageContent
{
    font-size: 12pt;
    font-weight: 400;
	width: auto;
	max-width: 80%;
	word-break: break-all;
}

.message span.messageContent.bigEmojis
{
    padding: 8px 4px;
	padding-bottom: 4px;
	font-size: 28pt;
	line-height: 100%;
	background-color: transparent !important;
}


#newMessage
{
    position: fixed;
    left: calc(24% + 58px);
    bottom: 33px;
    height: 90px;
    width: calc(78% - 116px);
    box-sizing: border-box;
}

#newMessage span.loggedInAs
{
	display: block;
	position: relative;
	top: 98px;
	left: 10px;
	height: 36px;
	width: 70%;
	color: #777;
	font-size: 10pt;
	text-align: left;
}

#newMessage span.logOut
{
	display: block;
	position: relative;
	top: 62px;
	left: calc(70% - 10px);
	width: 30%;
	color: #14A0FF;
	font-size: 10pt;
	text-align: right;
}

#newMessage span.loggedInAs b
{
	font-weight: 600;
}

#newMessage textarea
{
    display: inline-block;
    margin: 0;
    padding: 18px;
    height: 90px;
    width: calc(70% - 116px);
    font-family: "Source Sans Pro", "Arial", "Helvetica", sans-serif;
    font-size: 12pt;
	line-height: 150%;
	background-color: rgba(255,255,255,0.6);
    border: 0;
	border-radius: 6px;
    z-index: 100;
    resize: none;
}

#newMessage #submitBackground
{
    display: none !important;
    float: right;
    position: fixed;
	bottom: 33.5px;
    right: calc(11% + 58px + 18px);
	height: 56px;
    width: 56px;
	text-align: center;
	background: linear-gradient(140deg, #46B1FF, #62E6BD);
    border: 0;
	border-radius: 72px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
	box-sizing: border-box;
    z-index: 1000;
	transition: all 200ms;
}

#newMessage #submitBackground input[type=submit]
{
    display: inline-block;
	margin-left: 4px;
	height: 26px;
    width: 26px;
	background-color: transparent !important;
	background-image: url('/static/img/send_icon.png');
	background-size: contain;
	transition: all 200ms;
}

#newMessage #submitBackground:hover
{
	transform: scale(1.1);
}

#newMessage #submitBackground:hover input[type=submit]
{
	transform: scale(1.1);
}




@media only screen and (min-width: 660px) and (max-width: 1060px)
{
	.popup.chatPage
	{
		left: 22%;
		width: 78%;
	}
}

@media only screen and (min-width: 1060px)
{
	.popup.chatPage
	{
		left: 18%;
		width: 82%;
	}
}


/* Adaptions for mobile devices */



@media only screen and (max-width: 1060px)
{
	#sidebar
	{
		width: 22%;
	}
	
	#session
	{
		width: 22%;
	}
}

@media only screen and (max-width: 660px)
{
	body
	{
		padding: 2% 6%;
		overflow: hidden !important;
	}
	
	h1
	{
		font-size: 36pt;
	}
	
	#authenticateBody p
	{
		font-size: 14pt;
	}
	
	
	a.button
	{
    	display: inline-block;
		position: relative;
		top: -18px;
    	margin-right: 36px;
		margin-bottom: 24px;
    	padding: 16px 12px;
    	width: 100%;
		box-sizing: border-box;
	}
	
	.popup
	{
		position: fixed;
		z-index: 10000;
	}
	
	.popup h1
	{
		margin-bottom: 36px;
		font-size: 24pt;
	}
	
	input
	{
		width: 100%;
	}
	
	input[type=submit]
	{
		margin: 12px 15%;
		width: 70%;
	}
	
	form span.authAlt
	{
		width: 100%;
	}
	
	.hidePopup
	{
		right: 7%;
	}
	
	#chatBody
	{
		overflow: hidden !important;
	}
	
	#sidebar
	{
		display: none;
		position: fixed;
		top: 60px;
		left: 0;
		height: calc(100vh - 60px);
		width: 100vw;
		z-index: 100;
	}
	
	#findChannels, #switchMode, #tos, #logOut
	{
		position: relative;
		top: -32px;
	}
	
	#sidebar h3
	{
		display: none;
	}
	
	.sidebarButton
	{
		margin-bottom: 10px;
		padding: 6px 8px;
	}
	
	#session
	{
		width: 100%;
	}
	
	#messages
	{
		top: 80px;
		left: 2%;
		padding-bottom: 26px;
    	height: calc(100vh - 160px);
		width: 96%;
	}
	
	#newMessage
	{
    	width: 100vw;
	}
	
	#newMessage textarea
	{
    	left: 0;
		bottom: 0;
		/* padding-right: 85px; */
		height: 80px;
    	width: 100vw;
		border-radius: 0 !important;
		box-sizing: border-box;
		overflow: hidden !important;
	}
	

	#mobileChatHeader
	{
		display: flex;
		flex-wrap: wrap;
		position: fixed;
		top: 0;
		left: 0;
		height: 80px;
		width: 100%;
		background-color: #333;
		box-sizing: border-box;
		z-index: 1000;
	}
	
	#mobileChatHeader h3
	{
		display: inline-block;
		margin: 18px 22px;
		padding: 10px;
		color: #333;
		font-size: 14pt;
		background: linear-gradient(140deg, #46B1FF, #63ff9f);
		border-radius: 4px;
	}
	
	#mobileMenuButton
	{
		position: fixed;
		top: 20px;
		right: 22px;
    	display: inline-block;
    	cursor: pointer;
	}

	.bar1, .bar2, .bar3
	{
		width: 35px;
    	height: 5px;
    	background-color: #FFF;
		margin: 6px 0;
		transition: 0.4s;
	}
	
	
	.change .bar1
	{
    	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
    	transform: rotate(-45deg) translate(-9px, 6px);
	}
	
	.change .bar2
	{
		opacity: 0;
	}
	
	.change .bar3
	{
		-webkit-transform: rotate(45deg) translate(-9px, -7px);
		transform: rotate(45deg) translate(-9px, -7px);
	}
	
	#footerSwitchMode
	{
		display: none;
	}

	#newMessage span.loggedInAs
	{
		display: none;
	}

	#newMessage span.logOut
	{
		display: none;
	}
	
}