{% extends "layout.html" %}

{% block body %}
<style>
    header
    {
        display:none;
    }
    
    body
    {
        color: #FFF;
        background: linear-gradient(135deg, #46B1FF, #63ff9f);
    }
</style>

<div id="authenticateBody">
    <h1>Tervetuloa chattiin!</h1>
    <p>Sinun on tunnistauduttava käyttääksesi chattia.</p>
    <a id="revealLogin" class="button">Kirjaudu sisään</a>
    <a id="revealSignup" class="button gray">Luo tunnus</a>
</div>

<div id="loginPopup" class="popupForm">
    <a class="hidePopup">×</a>
    <h1>Kirjaudu sisään</h1>
    <form>
        <input type="text" name="username" placeholder="Käyttäjänimi">
        <input type="password" name="password" placeholder="Salasana">
        <input type="submit" value="Kirjaudu">
        <span>Ei tunnusta? <a id="revealSignup">Luo tunnus</a></span>
    </form>
</div>

<div id="signupPopup" class="popupForm">
    <a class="hidePopup">×</a>
    <h1>Luo tunnus</h1>
    <form>
        <input type="text" name="username" placeholder="Käyttäjänimi">
        <input type="email" name="email" placeholder="Sähköpostiosoite">
        <input type="password" name="password" placeholder="Salasana">
        <input type="password" name="password2" placeholder="Salasana uudelleen">
        <input type="submit" value="Rekisteröidy">
        <span>Ei tunnusta? <a id="revealSignup">Luo tunnus</a></span>
    </form>
</div>
{% endblock %}