{% extends "layout.html" %}

{% block body %}

<div id="chatBody">
    <div id="messages">
        <div class="message">
            <img src="{{ url_for('static', filename='img/avatar.jpg') }}" class="avatar">
            <div class="messageBody">
                <span class="username">aliylikoski</span><br>
                <span class="messageContent">Tämä on testiviesti :DDD</span>
            </div>
        </div>
        <div class="message">
            <img src="{{ url_for('static', filename='img/jokuvaan.jpg') }}" class="avatar">
            <div class="messageBody">
                <span class="username">jokuvaan</span><br>
                <span class="messageContent">Hei Ali :)</span>
            </div>
        </div>
        <div class="message">
            <img src="{{ url_for('static', filename='img/pekka1000.jpg') }}" class="avatar">
            <div class="messageBody">
                <span class="username">pekka1000</span><br>
                <span class="messageContent">Moikka</span>
            </div>
        </div>
        <div class="message">
            <img src="{{ url_for('static', filename='img/avatar.jpg') }}" class="avatar">
            <div class="messageBody">
                <span class="username">aliylikoski</span><br>
                <span class="messageContent">Miten menee?</span>
            </div>
        </div>
        <div class="message sameUserAsInPreviousMessage">
            <img src="{{ url_for('static', filename='img/avatar.jpg') }}" class="avatar" style="height:0px;">
            <div class="messageBody">
                <span class="messageContent">Tästä tulee vielä hyvä chatti</span>
            </div>
        </div>
        <div class="message">
            <img src="{{ url_for('static', filename='img/markku123.jpg') }}" class="avatar">
            <div class="messageBody">
                <span class="username">markku123</span><br>
                <span class="messageContent">:D</span>
            </div>
        </div>
        <div class="message">
            <img src="{{ url_for('static', filename='img/avatar.jpg') }}" class="avatar">
            <div class="messageBody">
                <span class="username">aliylikoski</span><br>
                <span class="messageContent">:D</span>
            </div>
        </div>
        <div class="message">
            <img src="{{ url_for('static', filename='img/pekka1000.jpg') }}" class="avatar">
            <div class="messageBody">
                <span class="username">pekka1000</span><br>
                <span class="messageContent">:D</span>
            </div>
        </div>
        <div class="message">
            <img src="{{ url_for('static', filename='img/jokuvaan.jpg') }}" class="avatar">
            <div class="messageBody">
                <span class="username">jokuvaan</span><br>
                <span class="messageContent">:D</span>
            </div>
        </div>
        <div class="message">
            <img src="{{ url_for('static', filename='img/markku123.jpg') }}" class="avatar">
            <div class="messageBody">
                <span class="username">markku123</span><br>
                <span class="messageContent">:D</span>
            </div>
        </div>
        <div class="message sameUserAsInPreviousMessage">
            <img src="{{ url_for('static', filename='img/markku123.jpg') }}" class="avatar">
            <div class="messageBody">
                <span class="messageContent">Pitää mennä heippa</span>
            </div>
        </div>
    </div>
    <div id="newMessage">
        <form>
            <textarea id="newMessage" name="message" placeholder="Kirjoita uusi viesti …"></textarea>
            <input type="submit" value="Lähetä" style="display:none;">
        </form>
    </div>
</div>

{% endblock %}